div.top{
	background-image: url("bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color:white;
}
div.feat{
	background-image: url("feature.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color:white;
}